h1 {
  color: rgb(238, 68, 68);
}
.container {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-color: black;
}
.posts {
  margin-bottom: 50px;
  color: black;
}
.username {
  color: blanchedalmond;
  background-color: blueviolet;
}

.content {
  color: wheat;
  background-color: brown;
}
body {
  background-color: bisque;
}
