<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Quora Posts</h1>

    <% for(post of posts){ %>
    <div class="posts">
      <div class="container">
        <h3 class="username">@<%=post.username%></h3>
        <h4 class="content"><%=post.content%></h4>
        <button>
          <a href="http://localhost:3000/posts/<%=post.id  %>" target="_blank"
            >Detail</a
          >
        </button>
      </div>
    </div>
    <%}%>
    <button>
      <a href="http://localhost:3000/posts/new" target="_blank">Create Post</a>
    </button>
  </body>
</html>
